@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



/* Custom scrollbars and transitions */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: #3B82F6; /* ← Direct hex code */
}


/* Optional Custom Styles */
body {
  font-family: 'Outfit', sans-serif;
  background-color: #f9fafb;
}
